/**
 * Stylesheet:  style.css
 * Theme:       UniBuild - Construction and Building Responsive HTML5 Template
 * Version:     1.0
 * Author:      a3s_themes
 * URL:         http://www.themeforest.net/user/a3s_themes
 *
 */
/* Table of contents
=================================================
1. Import CSS and Google Fonts
2. Global Styles
3. Preloader
4. Header Top
5. Header
6. Slider
7. course
8. Call To Actions
9. Latest News
10. Event
11. Gallery
12. Team
13. Count-up Area
14. Testimonial
15. single course page
16. single course 2 page
17. single course 2 page
18. Event single page
19. Shop  page
20. Contact page
21. Blog Page
22. Sidebar
23. Author Box
24. Comment
25. Sidebar
26. Author Box
27. Comment
28. Under Construction
29. FAQ Page
30. Cart Page
31. Single Product Page
32. 404 Error
33. Check Out Page
34. Footer
=================================================
*/
/*
================================
Import CSS and Google Fonts
================================
*/

@import url("font-awesome.min.css");
@import url("owl.theme.default.min.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
/*
================================
Global Styles
================================
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}
html,
body {
    height: 100%;
    font-size: 14px;
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    vertical-align: baseline;
    line-height: 22px;
    font-weight: 400;
}
a:focus {
    outline: 0px solid;
}
img {
    max-width: 100%;
    height: auto;
}
p {
    margin: 0 0 22px;
    font-weight: 400!important;
}
.gap-10 {
    width: 100%;
    height: 10px;
    overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 22px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #414242;
}
h1 {
    font-size: 32px;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 18px;
}
a {
    transition: all 0.5s ease-out;
    text-decoration: none;
    color: #464646;
}
a:active,
a:hover {
    outline: 0 none;
    color: #000;
    text-decoration: none;
}
ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
::-moz-selection {
    background: #8DC63F;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #8DC63F;
    color: #fff;
    text-shadow: none;
}
.bg-gray {
    background: #f2f3f3!important;
}
.bg-white {
    background: #ffffff!important;
}
textarea:focus,
input:focus {
    outline: none;
}
.padding-tp-70-bt-50 {
    padding-top: 70px;
    padding-bottom: 50px;
}
.padding-bt-50 {
    padding-bottom: 50px;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}
.title {
    text-align: center;
    margin-bottom: 50px;
}
.title h1 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
}
.title p {
    font-size: 16px;
    font-weight: 500;
    padding-left: 15px;
    padding-right: 15px;
}
.border-shape {
    background: #8DC63F none repeat scroll 0 0;
    display: block;
    height: 1px;
    left: 0;
    margin: 20px auto;
    position: relative;
    right: 0;
    text-align: center;
    width: 80px;
}
.border-shape::before {
    background: #8DC63F none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    left: 10px;
    margin: 5px 0;
    position: absolute;
    right: 0;
    width: 60px;
}
.border-shape::after {
    background: #8DC63F none repeat scroll 0 0;
    content: "";
    height: 1px;
    left: 10px;
    margin: 5px 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
}
.form-control {
    border-radius: 0;
    box-shadow: none;
}
.form-control:focus {
    box-shadow: none;
}
table {
    width: 100%;
}
/*
================================
Scroll to Top
================================
*/

.scrollup {
    position: fixed;
    z-index: 99999;
    bottom: 20px;
    right: 20px;
    display: none;
}
.scrollup i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #8cc441;
    color: #f2f3f3;
    text-align: center;
    font-size: 26px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.scrollup i:hover {
    opacity: 1;
    filter: alpha(opacity=1);
}
/*
================================
Preloader
================================
*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999999;
}
#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url(../img/preloader/1.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}
/*page title*/

.page-title-area {
    position: relative;
    padding: 100px 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page-title-area.project-page {
    background-image: url("../img/banner.jpg");
}
.page-title-area.about-page {
    background-image: url("../img/banner.jpg");
}
.page-title-area.blog-page {
    background-image: url("../img/banner.jpg");
}
.page-title-area.single-blog-page {
    background-image: url("../img/banner.jpg");
}
.page-title-area.contact-page {
    background-image: url("../img/banner.jpg");
}
.page-title-area.course-page {
    background-image: url("../img/banner.jpg");
}
.page-title-area.project-page {
    background-image: url("../img/banner.jpg");
}
.page-title-area.faq-page {
    background-image: url("../img/banner.jpg");
}
.page-title-area.gallery-page {
    background-image: url("../img/banner.jpg");
}
.page-title-area.gallery2-page {
    background-image: url("../img/banner.jpg");
}
.page-title-area.gallery3-page {
    background-image: url("../img/banner.jpg");
}
.page-title-area.gallery4-page {
    background-image: url("../img/banner.jpg");
}
.page-title-area.shop-page {
    background-image: url("../img/banner.jpg");
}
.page-title-area.single-course1-page {
    background-image: url("../img/banner.jpg");
}
.page-title-area.single-course2-page {
    background-image: url("../img/banner.jpg");
}
.page-title-area.single-course3-page {
    background-image: url("../img/banner.jpg");
}
.page-title-area.single-event-page {
    background-image: url("../img/banner.jpg");
}
.page-title-area.single-attorney-page {
    background-image: url("../img/banner.jpg");
}
.page-title-area.attorney-page {
    background-image: url("../img/banner.jpg");
}
.page-title {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    text-transform: capitalize;
}
.breadcumb {
    text-align: right;
}
.breadcumb ul li {
    display: inline-block;
    padding: 0px 14px;
    position: relative;
}
.breadcumb ul li::after {
    color: #fff;
    right: -8px;
    content: '\f178';
    font-family: 'FontAwesome';
    top: 2px;
    position: absolute;
}
.breadcumb ul li:last-child::after {
    display: none;
}
.breadcumb ul li a {
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
}
.image-overlay {
    background-color: rgba(70, 70, 70, 0.7);
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}
/*
================================
4.Header Top
================================
*/

.header-top-contact {
    text-align: right;
    padding-top: 22px;
}
.intro {
    display: inline-block;
    padding-left: 30px;
}
.intro i {
    color: #034694;
    display: inline-block;
    float: left;
    font-size: 20px;
    margin-top: 0px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 2px solid #034694;
    border-radius: 4px;
}
.intro b {
    display: block;
    margin: 0;
    font-size: 14px
}
.intro > span {
    display: inline-block;
    padding-left: 10px;
    text-align: left
}
.intro > span strong {
    font-size: 20px;
}
.header-top-contact li i {
    margin-right: 10px
}
.header-top {
    background: #fff url("../img/header-bg.jpg");
    background-repeat: repeat;
}
.header-top-social {
    text-align: right;
}
.header-top-social ul li {
    display: inline-block;
    padding: 16px 0px;
}
.header-top-social ul li a i {
    color: #034694;
    font-size: 14px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #fff;
    line-height: 30px;
    border-radius: 4px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.header-top-social ul li a i:hover {
    background: #062a54;
    color: #fff;
}
.header-top-menu {
    text-align: center;
}
.header-top-menu ul li {
    display: inline-block;
    position: relative;
}
.header-top-menu ul li a {
    color: #ccc;
}
.header-top-menu ul li a {
    color: #ccc;
    display: inline-block;
    font-size: 14px;
    padding: 8px 10px;
    text-transform: uppercase;
}
.header-top-menu ul li:after {
    border-right: 1px solid #999;
    content: "";
    height: 12px;
    position: absolute;
    right: -1px;
    top: 14px;
}
.header-top-menu ul li:last-child::after {
    display: none;
}
.header-top-search {
    display: inline-block;
    float: right;
    padding: 5px 0;
}
.header-top-search>form {
    background: #8DC63F none repeat scroll 0 0;
    display: inline-block;
}
.header-top-search input[type=text] {
    background: #eee none repeat scroll 0 0;
    color: #333;
    padding: 3px 6px;
}
.header-top-search button {
    background: #8DC63F none repeat scroll 0 0;
    color: #fff;
    padding-right: 8px;
    padding-left: 5px;
}
/*
================================
5.Header
================================
*/

header .header {
    background: #034694;
}
.nav-menu ul li {
    display: inline-block;
    position: relative;
}
.nav-menu ul li a {
    color: #fff;
    text-transform: uppercase;
    padding: 20px 15px;
    display: inline-block;
    font-weight: 600;
}
/*drop down menu */

.nav-menu ul li ul {
    background: #034694;
    left: 0;
    position: absolute;
    top: 62px;
    text-align: left;
    transform: scaleY(0);
    transform-origin: 0 0 0;
    transition: all 0.3s ease 0s;
    width: 180px;
    z-index: 99999 !important;
    visibility: hidden;
}
/* SVG Icons base styles */
.menu-item-has-children .icon {
	display: inline-block;
	fill: currentColor;
	height: 1em;
	position: relative; /* Align more nicely with capital letters */
	top: -0.0625em;
	vertical-align: middle;
	width: 1em;
  margin-left: 5px;
  height: 20px;
  top: -2px;
}
.nav-menu .menu-menu-container, .nav-menu ul {
  display: inline-block;
}
.nav-arrow {
    margin-left: 6px;
}
.nav-arrow i {
    font-size: 13px;
}
.nav-menu ul li:hover ul {
    transform: scaleY(1);
    visibility: visible;
}
.nav-menu ul li ul li {
    display: inline-block;
    width: 100%;
}
.nav-menu ul li ul li a {
    color: #fff;
    padding: 10px 20px;
    text-transform: capitalize;
    display: inline-block;
    width: 100%;
}
/*parent sub dropdown*/

.nav-menu .parent-submenu {
    display: none;
    left: 180px;
    position: absolute;
    top: 0px;
    transition: all 0.9s ease 0s;
}
.nav-menu ul li ul li:hover .parent-submenu {
    display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
.drop-down-icon {
    float: right;
}
.header.stick {
    left: 0;
    margin: 0 auto;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.5s ease 0s;
    z-index: 99999;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.16);
    opacity: 0.97;
}
.mobile-menu-area {
    display: none;
}
/*
================================
Slider
================================
*/
.slide-single .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #666666;
    opacity: 0.5;
}
.slide-single .text {
    padding-top: 15%;
    text-align: center;
    position: relative;
    z-index: 99;
}
.slide-single .text h2 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    margin-bottom: 15px;
    display: inline-block;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.slide-single .text h3 {
    font-size: 24px;
    font-weight: normal;
    line-height: 32px;
    text-transform: none;
    color: #fff;
    margin-bottom: 15px;
    display: inline-block;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}
.slide-single .text p {
    font-family: "Open Sans", serif;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
    text-transform: uppercase;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
}
.slide-single .text p a {
    border: 2px solid #8DC63F;
    padding: 10px 20px;
    background: #8DC63F;
    color: #fff;
}
.slide-single .text p a:hover {
    background: transparent;
    color: #fff;
    border-color: #fff;
}
.slide-single .text p a:hover p {
    background: transparent;
}
.slide-single .text-page {
    padding-top: 15%;
}
.slide-carousel {
    overflow: hidden;
    position: relative;
    margin-bottom: -10px;
}
.slide-carousel .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #464646;
    opacity: 0.6;
}
.slide-carousel .item {
    height: 580px;
    background: #4BCAFF;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}
.slide-carousel .item .photo {
    width: 100%;
    height: 100%;
}
.slide-carousel .item .text {
    text-align: center;
    position: relative;
    z-index: 99;
}
.slide-carousel .item .text h2 {
	width: 86%;
	font-size: 36px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	margin-bottom: 15px;
	display: inline-block;
	-webkit-animation-duration: .8s;
	animation-duration: .8s;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	margin-top: -7px;
}
.slide-carousel .item .text h3 {
    width: 86%;
    font-size: 20px;
    font-weight: normal;
    line-height: 32px;
    text-transform: none;
    color: #fff;
    margin-bottom: 10px;
    display: inline-block;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}
.slide-carousel .item .text p {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
    text-transform: uppercase;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
}
.slide-carousel .item .text p a {
    background: #8dc63f none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 10px 20px;
    border: 2px solid #8dc63f;
}
.slide-carousel .item .text p a:hover {
    background: transparent;
    color: #ffffff;
    border-color: #ffffff;
}
.slide-carousel .item .text p a:hover p {
    background: transparent;
}

/*
Owl nav
=======================*/

.slide-carousel .owl-nav .owl-prev, .slide-carousel .owl-nav .owl-next {
	position: absolute;
	text-align: center;
	width: 40px;
	height: 40px;
	line-height: 0;
	top: 50%;
	margin-top: -20px;
	right: 0;
	font-size: 30px;
	background-color: rgba(0, 0, 0, 0.2);
	color: #fff;
	-webkit-transition: all 0.4s;
	opacity: 0;
	transition: all 0.4s;
}

.slide-carousel .owl-nav .owl-prev {
    left: 0;
}

.slide-carousel:hover .owl-nav .owl-prev,
.slide-carousel:hover .owl-nav .owl-next {
    opacity: 1;
}

.slide-carousel .owl-nav .owl-prev:hover,
.slide-carousel .owl-nav .owl-next:hover {
    background:#8dc63f;
    color: #fff;
}


.slide-carousel .text {
    display: table;
    height: 100%;
    width: 100%;
}
.slide-carousel .inner-text {
    display: table-cell;
    vertical-align: middle;
}
.this-item.readmore-buttons p {
	margin-bottom: 0;
}
.slide-single-page {
    height: 200px;
}
.slide-single-page .text {
    padding-top: 0 !important;
}
.slide-single-page .text-page {
    height: 200px;
    padding-top: 0;
}
.slide-single-page .text-page .this-item {
    width: 100%;
    height: 200px;
    display: table;
    text-align: center;
}
.slide-single-page .text-page .this-item h2 {
    display: table-cell;
    vertical-align: middle;
    font-size: 30px;
}


/*
================================
7.course
================================
*/
.service {
    padding-top: 50px;
    padding-bottom: 0px;
}
.single-service {
    text-align: left;
    transition: all 0.4s ease;
    margin-bottom: 30px;
}
.single-service img {
    width: 100%;
    border-radius: 4px;
    border: solid 1px #ddd;
}
.single-project-thumb img {
  border: solid 1px #ddd;
}
.single-service h3 {
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 700;
}
.service-icon i {
    background: #8DC63F none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    font-size: 22px;
    height: 80px;
    line-height: 80px;
    margin: -10px 0;
    position: relative;
    text-align: left;
    top: -30px;
    transition: all 0.4s ease 0s;
    width: 80px;
}
.service-icon {
    padding: 16px 0;
}
.service-durations li {
    background: #ddd none repeat scroll 0 0;
    border-radius: 2px;
    display: inline-block;
    padding: 10px;
    position: relative;
    text-align: left;
    margin-right: 10px;
}
.service-durations li p {
    margin: 0;
    font-weight: bold;
}
.service-icon p {
    transition: all 0.4s ease;
}
.service-icon p.description {
  height: 66px;
  overflow: hidden;
}
.service-icon p a {
    background: #8dc63f;
    padding: 8px 15px;
    color: #fff;
    border-radius: 4px;
}
a:hover {
  opacity: .7;
}
.single-service h3 a:hover, .project-content h3 a:hover, .single-career h3 a:hover {
  color: #034694;
}
.careers {
  padding-top: 40px;
  padding-bottom: 20px;
}
.single-career {
  border-bottom: solid 1px #777;
  padding-top: 10px;
}
.single-career:last-child {
  border: none;
}
.single-career h3 a {
  color: #669D01;
}
.about-single {
  position: relative;
}
.about-single h3 {
  position: absolute;
  height: 45px;
  line-height: 45px;
  padding: 0 30px;
  width: 300px;
  top: -30px;
  color: #fff;
  background: #669900;
}
.about-single .about-text {
  background: #F3F3F3;
  padding: 30px 50px 1px;
  margin: 30px 30px 90px;
  font-size: 16px;
}
.about-single .about-text ul {
  list-style: disc;
  padding-bottom: 20px;
}
.about-single .about-text ul li {
  margin-bottom: 5px;
}
.about-single:last-child .about-text {
  margin-bottom: 20px;
}
.wpcf7-captchar {
  width: 100px;
  margin-left: 10px;
  text-align: center;
}
/*
================================
7.Call To Actions
================================
*/

.call-to-action-area {
    padding: 50px 0;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.images-overlay {
    background-color: rgba(70, 70, 70, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.call-to-action-text {
    text-align: center;
    margin-right: 50px;
    margin-bottom: 20px;
}
.call-to-action-text h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 28px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    line-height: 40px;
}
.call-to-action-text p {
    color: #fff;
    margin-bottom: 5px;
    font-size: 16px;
    padding: 10px 15px;
}
.call-to-action-button {
    margin-top: 30px;
}
.call-to-action-button ul {
    text-align: center;
}
.call-to-action-button li {
    display: inline-block;
    margin-right: 10px;
}
.call-to-action-button li a {
    background: #8dc63f none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 12px 25px;
    transition: all 0.4s ease;
    border: 2px solid #8dc63f;
    font-weight: 600;
}
.call-to-action-button li a:hover {
    transition: all 0.4s ease;
    background: transparent;
    border-color: #fff;
}
.call-to-apply {
    color: #fff;
    position: relative;
    text-align: center;
}
.call-to-apply .call-to-action-text {
    margin-right: 0;
    text-align: center;
    margin-bottom: 0;
}
.call-to-apply-button {
    width: 100%;
    margin-top: 26px;
}
.call-to-apply-button a {
    background: #8dc63f none repeat scroll 0 0;
    border: 2px solid #8dc63f;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 12px 25px;
    transition: all 0.4s ease;
    font-weight: 600;
}
.call-to-apply-button a:hover {
    transition: all 0.4s ease;
    background: transparent;
    border-color: #fff;
}
/*
================================
8.Latest News
================================
*/

.latestnews-area {
    padding-top: 50px;
    padding-bottom: 30px;
}
.post-content h2 {
    font-size: 18px;
    line-height: 26px;
    margin: 16px 0 10px 0;
}
.single-news {
    text-align: center;
}
.single-news-thumb {
    overflow: hidden;
    position: relative;
}
.single-news-thumb img {
    transform: scale(1.2);
    transition: all 0.7s ease 0s;
}
.single-news-thumb img {
    width: 100%;
}
.single-news:hover .single-news-thumb img {
    transform: scale(1);
}
.blog-post-meta {
    margin-bottom: 10px;
    font-style: italic;
}
.post-meta {
    margin-bottom: 10px;
    text-align: center;
}
.shape-border::before {
    background: #8cc441 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    left: 19px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 97px;
}
.shape-border::after {
    background: #8cc441 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    right: 19px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 97px;
}
.shape-border i {
    position: relative;
    top: -1px;
}
.shape-border {
    background: #8cc441 none repeat scroll 0 0;
    display: block;
    height: 20px;
    left: 0;
    margin: 20px auto;
    position: relative;
    right: 0;
    text-align: center;
    width: 20px;
    color: #fff;
    border-radius: 100%;
}
.post-meta ul li {
    display: inline-block;
    padding: 10px;
}
.post-meta ul li a {} .post-meta ul li a i {
    margin-right: 10px;
}
.readmore-button {
    background: #8dc63f none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    padding: 10px 25px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.readmore-button:hover {
    background: #064793 none repeat scroll 0 0;
    transition: all 0.4s ease;
    color: #fff;
}
/*
================================
9.Project
================================
*/

.project-area {
    background: #f2f3f3 none repeat scroll 0 0;
    padding-top: 50px;
    padding-bottom: 30px;
}
.single-project-thumb {
    position: relative;
    overflow: hidden;
}
.project-content {
    background: #fff none repeat scroll 0 0;
    border-radius: 2px;
    left: 0px;
    padding: 1px 15px;
    position: relative;
    top: 0px;
    text-align: center;
}
.single-project-thumb {
	width: 100%;
	min-height: 220px;
	background-position: top center;
	background-size: cover;
}
.single-project-thumb img {
	width: 100%;
	border-radius: 4px;
/*	min-height: 200px;*/
}
.single-project-thumb img {
    transition: all 0.7s ease 0s;
}
.single-practices {
    position: relative;
    margin-bottom: 25px;
}
.project-content {
    position: absolute;
    top: auto;
    bottom: 20px;
    left: 20px;
    width: calc(100% - 40px);
    background: rgba(255,255,255,0.9);
}
.project-content h3 {
	margin-bottom: 10px;
	margin-top: 10px;
	line-height: 26px;
	text-transform: uppercase;
	font-size: 16px;
}
.project-content .project-meta {
    margin-bottom: 10px;
}
.project-meta ul li {
    display: inline-block;
    margin-right: 0;
}
.project-meta ul li a {
    text-transform: uppercase;
}
.project-meta ul li i {
    margin-right: 5px;
}
.view-all-button {
    text-align: center;
    margin: 31px 0;
    display: inline-block;
    width: 100%;
}
.view-all-btn {
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    color: #464646;
    display: inline-block;
    padding: 14px 25px;
    text-transform: uppercase;
}
.view-all-btn:hover {
    background: #1e7fbd none repeat scroll 0 0;
    transition: all 0.4s ease;
    color: #fff;
    border-color: #1e7fbd;
}

.single-practices:hover .overlay-icon {
    visibility: visible;
    transition: all 0.4s ease;
    transform: scale(1);
}
.overlay {
    /* background: rgba(70, 70, 70, 0) linear-gradient(to bottom, rgba(70, 70, 70, 0) 0%, rgba(70, 70, 70, 0.65) 100%) repeat scroll 0 0;
    background: rgba(70, 70, 70, 0.4);*/

    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease;
}
/*
================================
10. Gallery
================================
*/

.gallery-area {
    display: inline-block;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 30px;
}
.gallery-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
}
.gallery-item img {
    width: 100%;
}
.gallery-img-overlay {
    /*background: rgba(70, 70, 70, 0.3);*/

    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}
.gallery-overlay {
    height: 100%;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all 0.3s ease-out 0s;
    width: 100%;
    visibility: hidden;
    background-color: rgba(70, 70, 70, 0.8);
    transform: scale(0);
}
.gallery-item:hover .gallery-overlay {
    visibility: visible;
    transition: all 0.3s ease-out 0s;
    transform: scale(1);
}
.gallery-item-text {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    text-align: center;
}
.gallery-item-text h3,
.gallery-item-text p {
    color: #fff;
    text-transform: uppercase;
}
.gallery-item-text a {
    color: #fff;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    width: 50px;
    font-size: 30px;
}
/*
================================
Team Member
================================
*/

.team {
    background: #f2f2f2;
    padding-top: 50px;
    padding-bottom: 30px;
}
.team .heading {
    margin-bottom: 20px;
    text-align: center;
}
.team .heading h2 {
    font-size: 34px;
    font-weight: 600;
    color: #eb5353;
    position: relative;
}
.team .heading h3 {
    font-size: 16px;
    font-weight: 500;
    color: #464646;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.team .heading .bar {
    width: 100px;
    height: 10px;
    background: #dedede;
    margin-bottom: 30px;
    display: inline-block;
}
.team .heading p {
    font-size: 16px;
    text-align: center;
    color: #353535;
}
.team-inner .inner {
    position: relative;
    overflow: hidden;
}
.team .item {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
}
.team .item .thumb img {
    width: 100%;
}
.team .item .thumb .overlay {
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: scale(0.2);
    -ms-transform: scale(0.2);
    -o-transform: scale(0.2);
    transform: scale(0.2);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    background: rgba(255, 255, 255, 0.8);
}
.team .item .social-icons {
    bottom: 0;
    height: 0;
    left: 0;
    position: absolute;
    transition: all 0.3s ease 0s;
    width: 100%;
}
.team .item .social-icons ul {
    text-align: center;
}
.team-text-overlay {
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    background: #8DC63F
}
.team .item .social-icons ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
    margin-top: 12px;
}
.team .item .social-icons ul li a i {
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 16px;
    height: 30px;
    line-height: 27px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 30px;
}
.team .item .social-icons ul li a i:hover {
    background: #8DC63F;
    border-color: #8DC63F;
    transition: all 0.3s ease 0s;
    color: #fff;
}
.team .item .social-icons ul li a:hover {
    color: #666666;
}
.team .text {
    padding: 15px;
    text-align: center;
    background: #8DC63F;
}
.team .text h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.team .text h3 a {
    color: #fff;
}
.team .team-text h3 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.team .team-text h3 a {
    color: #fff;
}
.team .text h3 a:hover {
    color: #dfdfdf;
}
.team .text h4 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #fff
}
.team .team-text {
    color: #fff;
    text-align: center;
    padding: 30px 10px 0px 10px;
}
.team .team-text h4 {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
.team .text ul li {
    display: inline-block;
    vertical-align: top;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.team .text ul li:hover {
    background: #333333;
}
.team .text ul li a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    display: block;
    color: #fff;
    border: 1px solid #fff;
}
.team .text ul li:hover a {
    border-color: #333333;
}
.team .text ul li a i {
    font-size: 16px;
}
/*
================================
Attorney - Details
================================
*/

.team-detail {
    background: #fff;
    padding-top: 70px;
    padding-bottom: 50px;
}
.team-detail .team-single {
    margin-bottom: 30px;
}
.team-detail .team-single .text {
    background: #8DC63F;
    text-align: center;
    padding: 25px 10px 15px;
}
.team-detail .team-single .text h2 {
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 5px;
}
.team-detail .team-single .text h3 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 400;
}
.team-detail .team-single .text p {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
}
.team-detail .team-single .thumb img {
    width: 100%;
    height: auto;
}
.team-detail .team-single .social .title {
    text-align: center;
    color: #2a2a2a;
    margin-top: 25px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}
.team-detail .team-single .social ul {
    margin-top: 15px;
    text-align: center;
}
.team-detail .team-single .social ul li {
    display: inline-block;
    list-style-type: none;
    margin-right: 5px;
}
.team-detail .team-single .social ul li a {
    width: 40px;
    height: 40px;
    line-height: 36px;
    font-size: 16px;
    text-align: center;
    display: block;
    background: transparent;
    border: 2px solid #8DC63F;
    color: #8DC63F;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.team-detail .team-single .social ul li a:hover {
    background: #8DC63F;
    color: #fff;
    border-color: #8DC63F;
}
.team-detail .team-detail-tab .content {
    padding: 15px 0;
}
.team-detail .team-detail-tab .content h2 {
    color: #8DC63F;
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.team-detail .team-detail-tab .content p {
    color: #676767;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 15px;
}
.team-detail .team-detail-tab .content ul li {
    list-style-position: inside;
}
.team-detail .team-detail-tab .nav-tabs {
    border-bottom: 0;
}
.team-detail .team-detail-tab .nav-tabs>li>a {
    color: #2a2a2a;
    font-size: 14px;
    padding: 5px 10px;
    font-weight: 600;
    background: transparent;
    border: 2px solid #2a2a2a;
    border-radius: 0;
    margin-right: 10px;
    text-transform: uppercase;
}
.team-detail .team-detail-tab .nav-tabs>li.active>a {
    color: #8DC63F;
    font-size: 14px;
    padding: 5px 10px;
    font-weight: 600;
    background: transparent;
    border: 2px solid #8DC63F;
    border-radius: 0;
    text-transform: uppercase;
}
.team-detail .testimonial-content {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 0;
}
.team-detail .testimonial-content:last-child {
    border-bottom: 0;
}
.team-detail .testimonial-content .top {
    overflow: hidden;
}
.team-detail .testimonial-content .top img {
    width: 60px;
    height: 60px;
    line-height: 60px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.team-detail .testimonial-content .top h2 {
    font-weight: bold;
    margin-bottom: 5px;
    color: #2a2a2a;
    font-size: 16px;
}
.team-detail .testimonial-content .top h3 {
    color: #676767;
    font-size: 13px;
}
.team-detail .testimonial-content .bottom {
    color: #676767;
}
.team-detail .ask-question .btn-success {
    background-color: #8DC63F;
    border-color: #8DC63F;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    border-radius: 0;
    padding: 10px 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.team-detail .ask-question .btn-success:hover {
    background: #8DC63F;
    border-color: #8DC63F;
    color: #fff;
}
.team-detail .ask-question .form-control {
    border-radius: 0;
    box-shadow: none;
}
.team-detail .ask-question input[type="text"],
.team-detail .ask-question input[type="email"],
.team-detail .ask-question textarea {
    font-size: 14px;
    background: transparent;
    border: 1px solid #a3a3a3;
    color: #2a2a2a;
}
.team-detail .ask-question input[type="text"]:focus,
.team-detail .ask-question input[type="email"]:focus,
.team-detail .ask-question textarea:focus {
    border-color: #2a2a2a;
}
.team-detail .contact {
    background: #8DC63F;
    margin-bottom: 20px;
    padding: 20px;
}
.team-detail .contact .icon {
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #2a2a2a;
    color: #8DC63F;
    text-align: center;
    margin: 0 auto;
}
.team-detail .contact .icon i {
    font-size: 24px;
}
.team-detail .contact .text {
    text-align: center;
}
.team-detail .contact .text h4 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    color: #2a2a2a;
}
.team-detail .contact .text p {
    font-size: 14px;
    color: #2a2a2a;
    font-weight: 600;
}
/*
================================
12.Count-up Area
================================
*/

.count-up-area {
    position: relative;
    padding: 74px 0;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.count-up-item {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.count-up-item i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    border: 1px solid #fff;
}
.count-up-item h2 {
    color: #fff;
    font-weight: 600;
    margin: 15px 0;
    text-transform: uppercase;
    font-size: 42px;
}
.count-up-item p {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0;
}
/*
================================
13.Price
================================
*/

.price-area {
    background: #f2f3f3 none repeat scroll 0 0;
    padding-top: 90px;
    padding-bottom: 70px;
}
.single-price {
    text-align: center;
    box-shadow: 0 5px 50px 2px #d0cfcf;
    overflow: hidden;
}
.price-heading {
    background: #8DC63F;
    padding: 32px 0;
}
.price-heading.recomended-price {
    position: relative;
    overflow: hidden;
}
.price-heading.recomended-price::before {
    background: #000 none repeat scroll 0 0;
    color: #fff;
    content: "Recomended";
    font-weight: bold;
    left: -131px;
    padding: 5px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    transform: rotate(314deg);
    width: 100%;
}
.price-heading h3 {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    color: #fff;
}
.price-heading h1 {
    color: #fff;
    text-transform: uppercase;
    margin: 14px 0;
    font-weight: bold;
    font-size: 60px;
}
.price-heading p {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    color: #fff;
}
.price-content li {
    display: inline-block;
    padding: 8px 0;
    width: 100%;
    border-top: 1px dashed #ddd;
}
.price-content li:first-child {
    border-top: 0;
}
.apply {
    display: inline-block;
    padding: 25px 0;
    width: 100%;
    background: #8DC63F;
}
.apply-button {
    border: 1px solid #464646;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    background: #464646;
}
.apply-button:hover {
    background: #1e7fbd none repeat scroll 0 0;
    transition: all 0.4s ease;
    color: #fff;
    border-color: #1e7fbd;
}
/*
================================
13.Testimonial
================================
*/

.testimonial-area {
    padding-top: 50px;
    padding-bottom: 30px;
}
.testimonial-content {
    padding: 30px 30px 15px;
    padding-top: 0;
}
.client-info {
    display: inline-block;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
}
.client-info span {
    display: inline-block;
    width: 100%;
    text-align: left
}
.client-info .client-name {
    color: #333;
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0 0 0;
}
.client-info .client-designation {
    color: #333;
    font-weight: 600;
}
.all-testimonial.owl-carousel .owl-item img {
    height: 100px;
    margin: 0 auto;
    width: 100px;
    text-align: left;
    display: inline-block;
    float: left;
}
.client-content p {
    margin: 0;
    display: inline-block;
    width: 100%;
}
.all-testimonial .owl-controls {
    margin-top: 20px;
}
.all-testimonial .owl-controls .owl-nav {
    display: none;
}
.all-testimonial.owl-theme .owl-dots .owl-dot {
    margin: 5px;
    border-radius: 100%;
}
.all-testimonial.owl-theme .owl-dots .owl-dot span {
    background: #fff;
    border: 1px solid #91c845;
    transition: all 0.9s ease 0s;
    width: 10px;
    height: 10px;
    margin: 3px;
}
.all-testimonial.owl-theme .owl-dots .owl-dot.active span {
    background: #91c845;
    border: 1px solid #91c845;
    transition: all 0.9s ease 0s;
}
/*
================================
14. single course page
================================
*/

.course-details-area {
    padding: 15px;
    display: inline-block;
    width: 100%;
    margin-top: 40px;
}
.course-details-text p {
    text-align: left;
    font-size: 14px;
}
.course-durations.course-single-meta2 {
    display: inline-block;
}
.apply-meta {
    display: inline-block;
    float: right;
}
.apply-meta span {
    display: inline-block;
    padding: 10px 20px;
}
.apply-meta span.price {
    color: #8DC63F;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.apply-meta span.buy-now-button a {
    background: #8DC63F none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 12px 25px;
}
.course-post-meta li {
    display: inline-block;
    margin-right: 30px;
}
.course-post-meta {
    margin: 15px 0;
}
.course-post-meta li .course-rating i {
    margin-right: 0px;
}
.course-post-meta li i {
    margin-right: 10px;
}
.course-single>p {} .course-tab {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.course-tab li {
    background: #8cc441;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
}
.course-tab li a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}
.course-tab li.active:after {
    border-color: #8cc441 transparent transparent;
    border-style: solid;
    position: absolute;
    content: "";
    border-width: 9px 6px 0;
    left: 50%;
    margin-left: -6px;
    bottom: -9px;
    text-decoration: none;
}
.blockquote {
    display: inline-block;
    float: right;
    width: 200px;
}
.client-text {
    display: inline-block;
    margin-left: 10px;
    width: 200px;
    margin-top: 15px;
}
.client-info img {
    border-radius: 100%;
    height: 100px;
    margin-bottom: 20px;
    width: 100px;
    border-radius: 0;
    margin-right: 10px;
}
.course-details-text h2 {
    font-size: 26px;
    text-transform: uppercase;
}
.course-gallery.gallery-item {
    width: 100%;
}
.review-form {
    margin: 0 auto;
    width: 479px;
}
.review-form input[type=text],
.review-form input[type=email] {
    border: 1px solid #ddd;
    border-radius: 0;
}
.review-form textarea {
    border: 1px solid #ddd;
    border-radius: 0;
    height: 150px;
}
.review-form input[type=submit] {
    background: #8DC63F none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 10px 25px;
}
.rating span {
    display: inline-block;
    margin: 0 11px;
    color: #8DC63F;
}
.review-comment-img {
    float: left;
    height: 100px;
    margin-right: 10px;
    width: 100px;
    border-radius: 100px;
    overflow: hidden;
}
.review-commenter-rating i {
    color: #8DC63F;
}
.review-comment-img img {
    width: 100%;
    height: 100%;
}
/*
================================
15. single course 2 page
================================
*/

.course-details-area2 {
    display: inline-block;
    margin-top: 60px;
}
.course-details-area2 .course-tab li {
    width: 100%;
    margin: 10px 0;
}
.course-details-area2 .course-tab li a {
    width: 100%;
    background: #8DC63F;
    color: #fff;
}
.course-details-area2 .course-tab li.active a {
    background: #8DC63F;
}
.course-details-area2 .course-tab li.active:after {
    display: none;
}
.course-details-area2 .course-tab {
    margin: 0;
}
.course-single-page {
    padding: 50px 0 0 0;
}
/*
================================
16. Project single page
================================
*/

.project-content-area {
    padding: 70px 0;
    background: #f3f2f2;
}
.project-meta tbody tr td {
    padding: 8px 0;
}
.project-meta span {
    margin-right: 10px;
}
.project-meta select,
.project-meta input[type=number] {
    border: 1px solid #ddd;
    padding: 8px;
    width: 150px;
}
.apply-meta.project-meta-apply {
    float: left;
}
.apply-meta.project-meta-apply {
    display: inline-block;
}
.apply-meta.project-meta-apply span {
    padding: 0;
    width: 100%;
    margin: 8px 0px;
}
/*
================================
17. Shop  page
================================
*/

.shop-page {
    padding: 50px 0;
}

.shop-page .event-content {
    left: 0;
    padding: 10px;
    top: 0;
}
.shop-page .event-content h3 {
    text-transform: capitalize;
    margin-bottom: 15px;
}
.shop-page .single-event-thumb img {
    transform: none;
}
.addto-cart a {
    display: inline-block;
    background: #8DC63F;
    color: #fff;
    padding: 10px 20px;
    border-radius: 2px;
}
.addto-cart {
    margin-top: 10px;
}
.addto-cart a:hover {
    background: #000;
}
.single-practices.single-product {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: left;
}
.single-product {
    border: 1px solid #ddd;
    padding: 5px;
}
.shop-page .single-event-thumb {
    border-bottom: 1px solid #ddd;
    margin: 10px;
}
.event-meta.shop-meta li {
    width: 100%;
}
.event-meta.shop-meta i {
    margin-right: 0;
}
.event-meta.shop-meta li.book-rating i {
    color: #ffb636;
}
.event-meta.shop-meta li.price {
    color: #8DC63F;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 15px;
}
.about {
    padding: 50px 0;
}
.about h2 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
}
.about-text h3 {
    font-weight: 700;
    color: #555;
    margin-top: 0;
}
.about-img img {
    width: 100%;
}
.about-text h3 {
    font-size: 22px;
}
.about-img {
	margin-top: 51px;
}
.showingproduct {
    margin-top: 8px;
    display: inline-block;
}
/*shop sidebar*/

.widget-category span {
    float: right;
}
.widget-category li {
    border-top: 1px solid #ddd;
    padding: 10px 0;
}
.widget-category li:first-child {
    border-top: 0;
    padding-top: 0;
}
.widget-tag li {
    display: inline-block;
}
.widget-tag li a {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}
.shop-sidebar h2 {
    border-bottom: 2px solid #8DC63F;
    font-size: 18px;
    padding-bottom: 10px;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
}
.widget-tag {
    margin: 25px 0;
}
/*
================================
18.Contact page
================================
*/

.contactfrom {
    padding: 0px 200px;
    margin-top: 50px;
}
.contact {
    background: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}
.single-contactinfo {
    text-align: center;
    margin: 90px 0 ;
}
.single-contactinfo h4 {
    font-size: 14px;
    margin-bottom: 10px;
}
.single-contactinfo p {
    margin-bottom: 5px;
    line-height: 16px;
}
.contact-icon i {
    width: 80px;
    height: 80px;
    display: inline-block;
    text-align: center;
    background: #8dc63f;
    line-height: 80px;
    font-size: 30px;
    color: #fff;
    border-radius: 100%;
    margin-bottom: 20px
}
.contact .item {
    margin-bottom: 15px;
    overflow: hidden;
    background: #8DC63F;
    padding: 24px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.contact .icon {
    float: left;
    margin-right: 15px;
    margin-top: 6px;
    color: #f2f3f3;
    font-size: 20px;
}
.contact .text {
    float: left;
    font-size: 14px;
}
.contact .text h3 {
    color: #f2f3f3;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}
.contact .text p {
    color: #f2f3f3;
    font-weight: 400;
}
.contact .text ul li {
    list-style-type: none;
    color: #f2f3f3;
    font-weight: 400;
}
.contact .cform-1 .btn-success, .contact .cform-1 .wpcf7-submit {
    background:#8dc63f;
    border-width: 2px;
    border-color: #8dc63f;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.contact .cform-1 .btn-success:hover, .contact .cform-1 .wpcf7-submit:hover {
    background: #8DC63F;
    border-color: #8DC63F;
}
.contact .cform-1 .form-control {
    border-radius: 0;
    box-shadow: none;
}
.contact .cform-1 input[type="text"],
.contact .cform-1 input[type="email"],
.contact .cform-1 input[type="file"],
.contact .cform-1 textarea {
    background: transparent;
    border: 2px solid #dedede;
    color: #2a2a2a;
}
.contact .cform-1 input[type="text"]:focus,
.contact .cform-1 input[type="email"]:focus,
.contact .cform-1 input[type="file"]:focus,
.contact .cform-1 textarea:focus {
    border-color: #8dc63f;;
}
.contact .cform-1 input[type="text"],
.contact .cform-1 input[type="file"],
.contact .cform-1 input[type="email"] {
    height: 40px;
}
.google-map iframe {
    width: 100%;
    height: 400px;
}
.google-map {
    margin-top: 20px;
}
/*
================================
19.Blog Page
================================
*/
/*
================================
20.Sidebar
================================
*/

.sidebar {
    width: 100%;
}
.sidebar .widget {
    overflow: hidden;
    margin-bottom: 30px;
}
.sidebar .widget h4 {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 6px;
    margin-bottom: 15px;
}
.sidebar .widget ul li {
    display: block;
    float: none;
    color: #676767;
    position: relative;
    padding-left: 15px;
    margin-bottom: 10px;
}
.sidebar .widget ul li:before {
    content: '\f105';
    font-family: 'FontAwesome';
    position: absolute;
    color: #666666;
    top: 1px;
    left: 3px;
    font-weight: 600;
}
.sidebar .widget ul li a {
    color: #666666;
}
.sidebar .widget ul li a:hover {
    color: #8DC63F;
}
.sidebar .widget ul.tag-cloud li {
    display: inline-block;
    padding-left: 0;
    margin-right: 5px;
}
.sidebar .widget ul.tag-cloud li a {
    display: block;
    padding: 4px 10px;
    border: 2px solid #afafaf;
}
.sidebar .widget ul.tag-cloud li:before {
    content: '';
}
.sidebar .widget ul.tag-cloud li:hover {
    background: #8DC63F;
    border-color: #8DC63F;
    color: #fff;
}
.sidebar .widget ul.tag-cloud li:hover a {
    color: #fff;
    border: 2px solid #8DC63F;
}
.sidebar .widget-search input {
    height: 36px;
    color: #666666;
    border: 2px solid #ddd;
    background: transparent;
    float: left;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 0;
}
.sidebar .widget-search input:focus {
    border: 2px solid #8DC63F;
}
.sidebar .widget-search button {
    width: 42px;
    height: 36px;
    float: left;
    border: 2px solid #8DC63F;
    background: #8DC63F;
    border-radius: 0;
    margin-left: 5px;
    color: #fff;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
/*
================================
21.Author Box
================================
*/

.author-box {
    width: 100%;
    height: auto;
    background: #8DC63F;
    color: #666666;
    text-align: left;
    margin-top: -25px;
}
.author-box .inner {
    padding: 20px;
    overflow: hidden;
}
.author-box .author-thumb {
	width: 100px;
	float: left;
	height: auto;
}
.author-box .author-thumb img {
    width: 100%;
    height: auto;
    padding-right: 15px;
}
.author-box .author-info {
	margin-left: 100px;
}
.author-box .author-info h3 {
    color: #fff;
    font-weight: 600;
    font-size: 22px;
    text-transform: none;
}
.author-box .author-info p {
    color: #fff;
    line-height: 22px;
    font-size: 14px;
}
.author-box .author-info ul li {
    float: left;
    list-style-type: none;
    margin-right: 5px;
    padding-left: 0;
}
.author-box .author-info ul li:before {
    content: '';
}
.author-box .author-info ul li a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #8DC63F;
    background: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    text-align: center;
    display: block;
}
.author-box .author-info ul li a i {
    margin-right: 0;
    font-size: 14px;
}
.author-box .author-info ul li a:hover {
    background: #666666;
    color: #fff;
}
/*
================================
22.Comment
================================
*/

.comments {
    margin-top: 40px;
}
.comments h2 {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
.comments .comment-list {
    background: transparent;
    padding: 15px;
}
.comments .comment-list .thumb {
    width: 80px;
    display: table-cell;
    vertical-align: top;
}
.comments .comment-list .thumb img {
    border-radius: 50%;
    border: 1px solid #ddd;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.comments .comment-list .text {
    padding: 0;
    display: table-cell;
    vertical-align: top;
}
.comments .comment-list .text .inner {
    margin-left: 10px;
}
.comments .comment-list .text h3 {
    margin-top: 0;
    text-transform: none;
    font-size: 18px;
}
.comments .comment-list .text p,
.comments .comment-list .text span {
    color: #666666;
    font-size: 14px;
}
.comments .comment-list .text span.date {
    margin-right: 40px;
}
.comments .comment-list .text span.date i {
    margin-right: 5px;
}
.comments .comment-list .text span.reply a {
    font-family: "Open Sans", serif;
    background: #8DC63F;
    color: #fff;
    padding: 6px 12px;
    font-size: 14px;
}
.comments .comment-list .parent {
    margin-bottom: 0px;
    overflow: hidden;
}
.comments .comment-list .children .parent {
    margin-bottom: 0px;
}
.comments .comment-list .children .parent-inner {
    background: transparent;
    padding: 15px;
    overflow: hidden;
    margin-left: 60px;
}
.comments .comment-list .children .children .parent-inner {
    background: transparent;
    padding: 15px;
    overflow: hidden;
    margin-left: 120px;
}
.comments .comment-list .children>li {
    list-style-type: none;
    display: block;
    margin-right: 0;
    margin-bottom: 0;
}
.comments .comment-list .children>li:before {
    content: '';
}
.comments .comment-list>li {
    border-bottom: 1px dashed #a1a1a1;
    margin-bottom: 20px;
    padding-left: 0;
}
.comments .comment-list>li:before {
    content: '';
}
.comments .comment-list>li:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}
.comments>li {
    list-style-type: none;
    display: block;
    margin-right: 0;
    margin-bottom: 0;
}
.comments .respond {
    background: transparent;
    margin-bottom: 20px;
}
.comments .respond .cform-1 .btn-success {
    background: #8DC63F;
    border: 2px solid #8DC63F;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    font-weight: 400;
    border-radius: 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.comments .respond .cform-1 .btn-success:hover {
    background: #8DC63F;
    color: #fff;
    border-color: #8DC63F;
}
.comments .respond .cform-1 .form-control {
    border-radius: 0;
    box-shadow: none;
}
.comments .respond .cform-1 input[type="text"],
.comments .respond .cform-1 input[type="email"],
.comments .respond .cform-1 textarea {
    font-family: "Open Sans", serif;
    background: transparent;
    border: 2px solid #ccc;
    color: #666666;
    font-size: 14px;
}
.comments .respond .cform-1 input[type="text"]:focus,
.comments .respond .cform-1 input[type="email"]:focus,
.comments .respond .cform-1 textarea:focus {
    border-color: #8DC63F;
}
/*
================================
28.Under Construction
================================
*/

.under-construction-v1 {
    height: 100vh;
    background-image: url(../img/slider1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.under-construction-v1 img {
    width: 100%;
    height: 100%;
}
.under-construction-v1 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #464646;
    opacity: 0.65;
}
.under-construction-v1 .inner {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.under-construction-v1 h1 {
    font-family: "Open Sans", serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    color: #fff;
    margin-bottom: 25px;
}
.under-construction-v1 p {
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
    font-size: 16px;
}
.under-construction-v1 .newsletter {
    text-align: center;
    margin-top: 20px;
}
.under-construction-v1 .btn-success {
    font-family: "Open Sans", serif;
    display: inline-block;
    background-color: #8DC63F;
    color: #fff;
    border: 0;
    border-color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    font-weight: 600;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 0;
}
.under-construction-v1 .btn-success:hover {
    background: #8DC63F;
    border-color: #8DC63F;
    color: #fff;
}
.under-construction-v1 .form-control {
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    outline: none;
}
.under-construction-v1 input[type="email"] {
    background: #f2f3f3;
    border: 2px solid #f2f3f3;
    height: 40px;
    color: #000;
}
.default {
  border: solid 1px #ccc;
}
/*
================================
29.FAQ Page
================================
*/

.faq {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #fff;
}
.faq h1 {
    font-size: 20px;
    font-weight: 600;
    color: #8DC63F;
    margin-bottom: 20px;
}
.faq .panel {
    box-shadow: none !important;
    border-radius: 0 !important;
}
.faq .panel-group {
    margin-bottom: 40px;
}
.faq .panel-group .panel-heading a:after {
    content: '\f068';
    font-family: 'FontAwesome';
    position: absolute;
    font-weight: normal;
    font-size: 14px;
    right: -1px;
    top: -1px;
    padding: 11px;
    color: #fff;
    background: #8DC63F;
}
.faq .panel-group .panel-heading a.collapsed:after {
    content: '\f067';
    font-family: 'FontAwesome';
    font-size: 14px;
    right: -1px;
    top: -1px;
    padding: 11px;
    color: #fff;
    background: #8DC63F;
}
.faq .panel-default>.panel-heading {
    background: #eee;
    color: #666666;
    padding: 0;
    border-radius: 0;
    position: relative;
    font-size: 14px;
}
.faq h4.panel-title a {
    display: block;
    padding: 10px 50px 10px 15px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}
.faq .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top: 0;
}
/*
================================
30.Cart Page
================================
*/

.table-text table {
    border-left: 1px solid #ddd;
}
.table-text thead tr th {
    padding: 20px 10px;
}
.table-text table th {
    border-right: 1px solid #ddd;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #ddd;
}
.table-text table td.product-name {
    width: 270px;
}
.table-text table th.product-total,
.product-price {
    width: 200px;
}
.table-text table th.product-thumbnail {
    width: 130px;
}
.table-text table th.product-delete {
    width: 130px;
}
.table-text table th {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
}
.table-text tbody {
    text-align: center;
}
.table-text tbody tr td {
    border: 1px solid #ddd;
    padding: 10px;
    vertical-align: middle;
}
.table-text .product-name h4 {
    margin-bottom: 10px;
}
.table-text .product-name a {
    font-size: 14px;
    font-weight: bold;
    color: #666666;
}
.product-price .amount {
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}
.product-total {
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}
.table-text .product-quantity input[type=number] {
    text-align: center;
    font-weight: bold;
    color: #666666
}
.sub-total {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}
.cupon-code>input[type=text] {
    background: #d2d2d2;
    color: #333;
    padding: 10px;
}
.product-img img {
    width: 50px;
}
.cupon-code input[type=text]::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */

    color: #333;
}
.cupon-code input[type=text]::-moz-placeholder {
    /* Firefox 19+ */

    color: #333;
}
.cupon-code input[type=text]:-ms-input-placeholder {
    /* IE 10+ */

    color: #333;
}
.cupon-code input[type=text]:-moz-placeholder {
    /* Firefox 18- */

    color: #333;
}
.cupon-code>input[type="submit"] {
    background: #8DC63F;
    padding: 10px 15px;
    color: #fff;
}
.cupon-code>h2 {
    display: inline-block;
    font-size: 14px;
    width: 100%;
    padding: 10px 20px;
    border-top: 1px solid #ddd;
    margin: 0;
}
.cupon-code>h3 {
    display: inline-block;
    width: 100%;
    padding: 10px 70px;
    font-weight: bold;
}
.cupon-code>h2 span,
.cupon-code>h3 span {
    float: right;
}
.update.cupon-code {
    float: right;
}
.cupon-code.total-cart h1 {
    text-transform: uppercase;
    font-size: 18px;
}
.cupon-code.total-cart {
    margin-top: 40px;
}
/*
================================
31.Single Product Page
================================
*/

.product-details span.price {
    font-weight: bold;
    color: #8DC63F;
    font-size: 18px;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}
.all-product-image {
    position: relative;
}
.all-product-image .owl-nav .owl-prev,
.all-product-image .owl-nav .owl-next {
	position: absolute;
	text-align: center;
	width: 40px;
	height: 40px;
	line-height: 0;
	top: 50%;
	margin-top: -20px;
	right: 0;
	font-size: 30px;
	background-color: rgba(0, 0, 0, 0.2);
	color: #fff;
	-webkit-transition: all 0.4s;
	opacity: 0;
	transition: all 0.4s;
}

.all-product-image .owl-nav .owl-prev {
    left: 0;
}

.all-product-image:hover .owl-nav .owl-prev,
.all-product-image:hover .owl-nav .owl-next {
    opacity: 1;
}

.all-product-image .owl-nav .owl-prev:hover,
.all-product-image .owl-nav .owl-next:hover {
    background: #E27E21;
    color: #fff;
}
.add-to-cart-button {
    display: inline-block;
    width: 100%;
    margin: 5px 0 30px 0;
}
.product-meta li a {
    color: #333;
    text-transform: capitalize;
    margin-left: 10px;
}
.add-to-cart-button a {
    background: #8DC63F none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 12px 25px;
}
.course-tab.product-tab {
    text-align: left;
}
.additional-content table tr td {
    border-top: 1px solid #ddd;
    padding: 11px;
    width: 75%;
}
/*
================================
32.404 Error
================================
*/

.error-page {
    background: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}
.error-page .error-title .inner {
    width: 200px;
    height: 200px;
    background: #8DC63F;
    color: #fff;
    border: 5px solid #8DC63F;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
}
.error-page .error-title .inner span:first-child {
    display: block;
    margin: 0;
    line-height: 60px;
    margin-top: 40px;
    font-size: 66px;
}
.error-page .error-title .inner span:last-child {
    display: block;
    margin: 0;
    line-height: 60px;
    font-size: 30px;
}
.error-page .content {
    margin-top: 40px;
    text-align: center;
}
.error-page .content h2 {
    color: #8DC63F;
    font-size: 24px;
}
.error-page .content p {
    font-size: 16px;
    color: #2a2a2a;
}
.error-page .content .button {
    margin-top: 40px;
}
.error-page .content .button a {
    font-size: 18px;
    background: #8DC63F;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    border: 2px solid #8DC63F;
    color: #fff;
    font-weight: 400;
    padding: 12px 16px;
    border-radius: 2px;
}
.error-page .content .button a:hover {
    background: #8DC63F;
    color: #fff;
    border-color: #8DC63F;
}
/*
================================
33.Check Out Page
================================
*/

.checkout-button {
    text-align: center;
}
.checkout-button a {
    background: #8DC63F none repeat scroll 0 0;
    border-radius: 0px;
    color: #fff;
    display: inline-block;
    padding: 15px 30px;
    text-transform: uppercase;
    width: 100%
}
.order-summary h2,
.billing-form h2 {
    font-size: 18px;
    color: #;
    text-transform: uppercase;
}
.billing-form input[type=text],
.billing-form .country select {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}
.order-summary ul {
    border: 1px solid #ddd;
    padding: 10px;
}
.order-summary ul li {
    border-top: 1px solid #ddd;
    display: inline-block;
    padding: 8px 0;
    text-transform: uppercase;
    width: 100%;
}
.order-summary ul li:first-child {
    font-weight: bold;
    border-top: 0;
}
.order-summary ul li span {
    float: right;
}
.order-summary li strong {
    font-weight: normal;
    margin-left: 15px;
    position: relative;
    top: -1px;
    font-size: 12px;
}
.payment-method {
    margin-top: 40px;
    text-align: center;
    display: inline-block;
    width: 100%;
}
.payment-method .checkout-button a {
    margin-top: 30px;
}
/*
================================
34.Footer
================================
*/

.footer {
    background-color: #01152b;
    padding: 50px 0 0 0;
}
.footer h2 {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.footer p {
    color: #cccccc;
    text-align: center;
    margin-bottom: 8px;
}
.footer-wedget1 i {
    border: 1px solid #3a3a3a;
    color: #cccccc;
    display: inline-block;
    font-size: 18px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    float: left;
    text-align: center;
    line-height: 40px;
}
.footer-wedget1 i:hover {
    background: #8DC63F none repeat scroll 0 0;
    transition: all 0.4s ease;
    color: #fff;
}
.footer-wedget1 ul {
    margin-top: 15px;
}
.footer-wedget2 li a {
    color: #ccc;
    display: inline-block;
    text-transform: capitalize;
    padding: 5px 0;
}
.footer-wedget2 li a i {
    margin-right: 10px;
}
.footer-wedget3 input {
    background: #e9e9e9 none repeat scroll 0 0;
    border: 1px solid #e9e9e9;
    color: #949494;
    font-size: 14px;
    margin-bottom: 20px;
    padding: 10px;
    text-transform: capitalize;
}
.footer-wedget3 input[type="email"] {
    width: 90%;
}
.footer-wedget3 input[type="submit"] {
    padding: 10px 25px;
    background: #8DC63F none repeat scroll 0 0;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #8DC63F;
    font-size: 15px;
}
.footer-wedget3 form {
    margin-top: 10px;
}
.contactsingle-info h2 {
    color: #ccc;
    font-size: 18px;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.footer-copyright-area {
    background: #011123 none repeat scroll 0 0;
    padding: 20px 0;
}
.footer-copyright p {
    margin-bottom: 0;
    text-align: center;
    color: #fff;
    font-size: 13px;
}
.contact-info {
    margin-bottom: 45px;
}
.contact-info-icon {
    text-align: center;
    margin-bottom: 20px;
}
.contact-info-icon i {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: #91c845;
    font-size: 30px;
    border: 1px solid #91c845;
    border-radius: 50%;
}
.footer-copyright a {
    color: #8DC63F;
}
.mfp-bg {
    z-index: 999997!important;
}
.mfp-wrap {
    z-index: 999999!important;
}

.owl-carousel .owl-item img {
    border: 1px solid #d2d2d2;
}

.product-details table input,
.product-details table select {
    width: 100px;
    height: 28px;
}


.main-slider .this-item {
	margin: 0 30px;
}
